.form {
  display: flex;
  flex-direction: column;
}

.form-signup {
  width: 400px;
  padding: 20px;
}

.form-signup input,
textarea {
  margin-bottom: 30px;
}

.form-login {
  width: 400px;
  padding: 20px;
}

.button-blue {
  background-color: #4c94ef;
  color: white;
  border-radius: 5px;
}

.form-login input,
textarea {
  margin-bottom: 30px;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: #f56b2a;
  margin: 0;
  padding: 0;
  height: 50px;
  color: white;
}

.nav-list > li {
  padding-right: 10px;
  color: white;
}

.App-logo {
  height: 50px;
}
